<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>JSBuild Docs.</title>
    <meta name="description" content="Docs and examples of the JSBuild system" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet" />
    <script src="/JSBuild.js"></script>
  </head>
  <body>
    <script type="module" src="/app.js"></script>
  </body>
</html>
